boto3
bcrypt
setuptools
WTForms
psycopg2
SQLAlchemy
SQLAlchemy-Utils
GeoAlchemy2
Werkzeug
simplejson==3.16.0
gunicorn
shapely
Flask
Flask-WTF
Flask-SQLAlchemy
Flask-Admin
Flask-Assets
Flask-Mail
Flask-Migrate
Flask-Security
